@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Fira Sans", serif;
}
body {
  padding: 60px;
  background-color: #f1f1f3;
}
.bng {
  background-color: #c6e4d6;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 70px;
}
.firstimg {
  height: 300px;
  width: 320px;
}
.idea {
  font-size: 56px;
  font-weight: bold;
}
.nav {
  font-size: 24px;
  color: #0e0e0e;
  opacity: 50%;
}
.firstbtn {
  outline: none;
  border: none;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 300px;
  border-radius: 8px;
  width: 270px;
  height: 56px;
  color: #ffffff;
  background-color: #006a50;
}
.samephoto {
  gap: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.secondimg {
  border-radius: 16px;
  padding: 32px;
  width: 410px;
  height: 325px;

  background-color: #548ff53c;
}
.thirdimg {
  border-radius: 16px;
  padding: 32px;
  height: 325px;
  width: 410px;
  background-color: #c6e4d6;
}
.fourthimg {
  border-radius: 16px;
  padding: 32px;
  background-color: #f7ebcf;
  height: 325px;
  width: 410px;
}
.vision {
  font-size: 40px;
  font-weight: bold;
  width: 1280px;
  height: 48px;
}
.bangladesh {
  width: 1280px;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
}
.vision-btn {
  outline: none;
  border: none;
  color: #ffffff;
  /* font-size: 16px; */
  font-weight: 400px;
  width: 122px;
  height: 41px;
  padding: 11px 20px;
  border-radius: 8px;
}
.blue {
  background-color: #5490f5;
}
.green {
  background-color: #09a15c;
}
.yellow {
  background-color: #ffc239;
}
.dig {
  width: 346px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.grn {
  width: 346px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.mrdn {
  width: 362px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.psame {
  height: 100px;
  font-size: 16px;
  line-height: 24px;
}
.all {
  width: 346px;
}
.rcn {
  font-size: 40px;
  font-weight: bold;
}
.aim {
  line-height: 24px;
}
.sat {
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
.satja {
  border-radius: 24px;
  padding: 48px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.not {
  width: 744px;
  line-height: 24px;
  height: 72px;
  font-size: 16px;
}
.new {
  font-size: 32px;
  font-weight: bold;
}
.jajira {
  width: 134px;
  margin-bottom: 10px;
}
.date {
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
  width: 122px;
  height: 24px;
}
.time {
  font-size: 16px;
  line-height: 24px;
  width: 105px;
  height: 24px;
}
.bngnot {
  gap: 12px;
}
.bngnot > button {
  outline: none;
  border: none;
  color: #ffffff;
  /* font-size: 16px; */
  font-weight: 400px;
  width: 122px;
  background-color: #006a50;
  height: 41px;
  padding: 11px 20px;
  border-radius: 8px;
}

.recent-news > .satja {
  margin-top: 20px;
  margin-bottom: 20px;
}
