@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Fira Sans", serif;
  border: 0.1px dashed black;
}
body {
  padding: 60px;
  background-color: #f1f1f3;
}
.bng {
  border-radius: 24px;
  background-color: #c6e4d6;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 70px;
}
.firstimg {
  height: 300px;
  width: 320px;
}
.idea {
  font-size: 56px;
  font-weight: bold;
}
.nav {
  font-size: 24px;
  color: #0e0e0e;
  opacity: 50%;
}
.firstbtn {
  outline: none;
  border: none;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 300px;
  border-radius: 8px;
  width: 270px;
  height: 56px;
  color: #ffffff;
  background-color: #006a50;
}
.samephoto {
  gap: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.secondimg {
  border-radius: 16px;
  padding: 32px;
  width: 410px;
  height: 325px;

  background-color: #548ff53c;
}
.thirdimg {
  border-radius: 16px;
  padding: 32px;
  height: 325px;
  width: 410px;
  background-color: #c6e4d6;
}
.fourthimg {
  border-radius: 16px;
  padding: 32px;
  background-color: #f7ebcf;
  height: 325px;
  width: 410px;
}
.vision {
  font-size: 40px;
  font-weight: bold;
  width: 1280px;
  height: 48px;
}
.bangladesh {
  width: 1280px;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
}
.vision-btn {
  outline: none;
  border: none;
  color: #ffffff;
  /* font-size: 16px; */
  font-weight: 400px;
  width: 122px;
  height: 41px;
  padding: 11px 20px;
  border-radius: 8px;
}
.blue {
  background-color: #5490f5;
}
.green {
  background-color: #09a15c;
}
.yellow {
  background-color: #ffc239;
}
.dig {
  width: 346px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.grn {
  width: 346px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.mrdn {
  width: 362px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
}
.psame {
  height: 100px;
  font-size: 16px;
  line-height: 24px;
}
.all {
  width: 346px;
}
.rcn {
  font-size: 40px;
  font-weight: bold;
}
.aim {
  line-height: 24px;
}
.sat {
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
.satja {
  border-radius: 24px;
  padding: 48px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.not {
  width: 744px;
  line-height: 24px;
  height: 72px;
  font-size: 16px;
}
.new {
  font-size: 32px;
  font-weight: bold;
}
.jajira {
  width: 134px;
  margin-bottom: 10px;
}
.date {
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
  width: 122px;
  height: 24px;
}
.time {
  font-size: 16px;
  line-height: 24px;
  width: 105px;
  height: 24px;
}
.bngnot {
  gap: 12px;
}
.bngnot > button {
  outline: none;
  border: none;
  color: #ffffff;
  /* font-size: 16px; */
  font-weight: 400px;
  width: 122px;
  background-color: #006a50;
  height: 41px;
  padding: 11px 20px;
  border-radius: 8px;
}

.recent-news > .satja {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dnt {
  /* width: 1280px;
  height: 48px; */
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.national {
  width: 1104;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
}
.tkbtn {
  width: 1071px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px;
  gap: 10px;
  margin: 0px auto;
}

.tkbtn > .donate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 40px;
  text-align: center;
  border-radius: 16px;
  font-size: 40px;
  font-weight: bold;
}

.other-amount-btn {
  width: 1032px;
  height: 64px;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: white;
  color: #0e0e0e65;
}
.donate-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.done-btn {
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400px;
  background-color: #006a50;
  border-radius: 8px;
  padding: 17px 34px;
  margin: 20px;
}
.tkbtn > .tk-200 {
  background-color: #c6e4d6;
  transition: 0.5s;
}
.donate-btn {
  transition: 0.5s;
}
.tkbtn > .donate-btn:hover {
  border: 1px solid #006a50;
}
.newsletter {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  /* width: 622px; */
  height: 48px;
}
.growth {
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  text-align: center;
}
.enteremail {
  width: 600px;
  /* height: 55px; */
  padding: 18px 40px;
  font-weight: 400px;
  font-size: 18px;
  outline: none;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.subcribe {
  background-color: #006a50;
  padding: 17px 34px;
  width: 150px;
  color: 400px;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  border-top-right-radius: 8px;
  color: white;
  border-bottom-right-radius: 8px;
}
.subcribe-section {
  margin-top: 20px;
  padding: 80px 100px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.promise-spam {
  font-size: 16px;
  text-align: center;
}
.navone {
  font-size: 32px;
  font-weight: bold;
  width: 222px;
  height: 38px;
}
.signbtn {
  font-weight: 400px;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  width: 116px;
  height: 52px;
  color: #006a50;
}
.headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
